<h1>Scores#show</h1>
<p>Find me in app/views/scores/show.html.erb</p>

<%= div_for(@score) do |s| %>
   <table>
     <tr>
       <td>user :</td>
       <% if s.user %>
       <td><%= s.user.name %></td>
       <% else %>
       <td>EMPTY NAME</td>
       <% end %>
     </tr>
     <tr>
       <td>Value :</td>
       <td><%= s.value %></td>
     </tr>
   </table>
<% end %>
<br />
<%= link_to 'go back', scores_path %>
